html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#outer {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.footer .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer i {
  font-size: 24px;
}

.footer p {
  margin: 0;
  font-size: 12px;
}


#map {
  flex-grow: 1;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}

.search-container {
  position: relative; /* Utilisez fixed pour qu'elle reste en place */
  top: 15px; /* Ajustez la position du haut */
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  z-index: 5;
}

#pac-input {
  height: 50px; /* Ajustez la hauteur selon vos besoins */
  max-width: 180px; /* Limite la largeur maximale */
  font-size: 16px; /* Ajustez la taille de la police selon vos besoins */
  margin: 0 auto; /* Centre horizontalement */

}

.controls {
  width: 100%;
  height: 56px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 28px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  outline: none;
  text-align: center;
}

@media (max-width: 767px) {
  .search-container {
    width: 90%;
  }
  .controls {
    height: 48px;
    font-size: 14px;
  }
}

#map {
  height: 100%;
}

#map-controls {
  position: absolute;
  bottom: 50px; /* Ajustez selon la hauteur de votre footer */
  left: 10px;
  z-index: 5;
}

#map-type-controls {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#map-view-controls {
  position: absolute;
  bottom: 50px; /* Ajustez selon la hauteur de votre footer */
  right: 10px;
  display: flex;
  flex-direction: column;
}

#map-type-controls button,
#map-view-controls button {
  margin: 5px 0;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

#spot-form-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 10;
  width: 300px;
  border-radius: 8px;
}

#spot-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

#spot-form label {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

#spot-form input, #spot-form textarea {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

#spot-form button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#spot-form button:hover {
  background-color: #0056b3;
}

#close-form {
  font-size: 24px;
  color: #000;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#star-rating .fa {
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

#star-rating .fa.checked {
  color: orange;
}

#star-rating .fa:hover {
  color: #ffcc00;
}

.info-window-content {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.info-window-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.info-window-content img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.info-window-content p {
  margin: 5px 0;
}

.info-window-content .stars {
  font-size: 20px;
  color: orange;
}

.info-window-content .favorite-link {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
}

.info-window-content .favorite-link:hover {
  text-decoration: underline;
}

#photo-container {
  position: relative;
  text-align: center;
}

#photo-container img {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#photo-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

#prev-photo {
  left: 0;
}

#next-photo {
  right: 0;
}

.custom-btn {
  background-color: #b892f7;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
}
.custom-btn:hover {
  background-color: yellow;
}

.green-icon {
  color: green;
  font-size: 2rem;
  cursor: pointer;
}
.orange-icon {
  color: orange;
  font-size: 2rem;
  cursor: pointer;
}
.red-icon {
  color: red;
  font-size: 2rem;
  cursor: pointer;
}
.green-icon.active, .orange-icon.active, .red-icon.active {
  transform: scale(1.2);
  opacity: 1;
}
i {
  opacity: 0.5;
  transition: transform 0.3s, opacity 0.3s;
}
